* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: lightskyblue;
}

.paddle {
--position: 50;
position: absolute;
background-color: white;
height: 10vh;
width: 1vh;
top: calc(var(--position)* 1vh);
transform: translateY(-50%);
}

.paddle.Right {
right: 1vw;
}

.paddle.Left {
left: 1vw;
}